<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<div class="container mx-auto w-11/12 mt-10">
    <div class="flex shadow-md my-10">
        <div class="w-5/6 bg-white px-10 py-10">
            <div class="flex justify-between border-b pb-8">
                <h1 class="text-3xl font-bold text-gray-900">Shopping Cart</h1>
            </div>

            <!-- Item cards here-->
            <div class="mt-8">
                <div class="flow-root">
                    <ul role="list" class="-my-6 divide-y divide-gray-200">
                        <li class="flex py-6">
                            <div class="h-40 w-30 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                                <img src="https://tailwindui.com/img/ecommerce-images/shopping-cart-page-04-product-01.jpg" alt="Salmon orange fabric pouch with match zipper, gray zipper pull, and adjustable hip belt." class="h-full w-full object-cover object-center">
                            </div>
                            <div class="ml-4 flex flex-1 flex-col">
                                <div>
                                    <div class="flex justify-between text-base font-medium text-gray-900">
                                        <h3>
                                            <a href="#">Throwback Hip Bag</a>
                                        </h3>
                                        <p class="ml-4">$90.00</p>
                                    </div>
                                    <p class="mt-1 text-sm text-gray-500">Salmon</p>
                                </div>
                                <div class="flex flex-1 items-end justify-between text-sm">
                                    <p class="text-gray-500">Qty 1</p>

                                    <div class="flex">
                                        <button type="button" class="font-medium text-indigo-600 hover:text-indigo-500">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Summary here -->
        <div id="summary" class="w-full max-w-md p-4 bg-gray-50 rounded-lg">
            <h1 class="text-lg font-semibold text-gray-900 pb-2">Order summary</h1>
            <div class="mt-6">
                <div class="flex justify-between mb-5">
                    <span class="font-semibold text-sm text-gray-600 uppercase">Subtotal</span>
                    <span class="font-semibold text-gray-600 text-sm">$0.00</span>
                </div>
                <hr class="mb-5"> 
                <div class="flex justify-between mb-5">
                    <span class="font-semibold text-sm text-gray-600 uppercase">Shipping estimate</span>
                    <span class="font-semibold text-gray-600 text-sm">$5.00</span>
                </div>
                <hr class="mb-5"> 
                <div class="flex justify-between mb-5">
                    <span class="font-semibold text-sm text-gray-600 uppercase">Tax estimate</span>
                    <span class="font-semibold text-gray-600 text-sm">$0.00</span>
                </div>
                <hr class="mb-5"> 
                <div class="flex justify-between mb-5">
                    <span class="font-semibold text-sm text-gray-600 uppercase">Order total</span>
                    <span class="font-semibold text-gray-600 text-sm">$0.00</span>
                </div>
                <div class="mt-8">
                    <div class="mt-6">
                        <a href="#" class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.tailwindcss.com"></script>
</body>
</html>
